<%- include('partials/_dashboard') %>


        <!-- Contenido de las pestañas -->

        <main>
        <div class="pestaña">
            <H1>CUERPOS DE AGUA REGISTRADOS</H1>
        </div>
            <!--Inicio de tabla de los cuerpos de agua-->
            <!-- Historial de registros-->
            
            <div class="cuerpos_agua">      
                <table>
                    <thead>
                        <tr>
                            <th>NOMBRE DEL CUERPO</th>
                            <th>ÁREA (m<sup>2</sup>)</th>
                            <th>PERÍMETRO (m)</th>
                            <th>FECHA DE REGISTRO</th>
                        </tr>
                        <tbody>
                        <% if(data){%>
                            <% for(var i=0; i<data.length; i++) { %>                           
                                <tr>
                                    <td> <%= data[i].nombre_cuerpo_a %></td>
                                    <td> <%= data[i].area_cuerpo_a %> m<sup>2</sup></td>
                                    <td> <%= data[i].perimetro_cuerpo_a %> m</td>
                                    <td>    
                                        <%= new Date(data[i].fecha_cuerpo_a).toLocaleDateString('es-ES') %>
                                    </td>
                                    <td><a class="primary" href="/ver_registro/<%= data[i].id_cuerpo_a %>"> Ver detalles </a></td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                    </thead>
                </table>
            </div>
        </main>

    </div>
</body>
</html>