<%- include('partials/_header') %>

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombres </th>
                        <th scope="col">Apellidos </th>
                        <th scope="col">Correo</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Tipo de Usuario</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data){%>
                        <% for(var i=0; i<data.length; i++) { %>
                            <% if (i % 2 !== 0) { %>
                            <tr class="table-secondary">
                                <th scope="row"> <%= data[i].id_usuario %></th>
                                <td> <%= data[i].nombres_usuario %></td>
                                <td> <%= data[i].apellidos_usuario %></td>
                                <td> <%= data[i].correo_usuario %></td>
                                <td> <%= data[i].contraseña_usuario %></td>
                                <td> <%= data[i].tipo_usuario %></td>
                                <td> <a href="/delete/<%= data[i].id_usuario %>" class="btn btn-outline-danger btn-sm">Eliminar</a>
                                    <a href="/update/<%= data[i].id_usuario %>" class="btn btn-outline-primary btn-sm">Modificar</a></td>
                            </tr>
                            <% } else { %>
                                <tr class="table-success">
                                    <th scope="row"> <%= data[i].id_usuario %></th>
                                    <td> <%= data[i].nombres_usuario %></td>
                                    <td> <%= data[i].apellidos_usuario %></td>
                                    <td> <%= data[i].correo_usuario %></td>
                                    <td> <%= data[i].contraseña_usuario %></td>
                                    <td> <%= data[i].tipo_usuario %></td>
                                    <td> <a href="/delete/<%= data[i].id_usuario %>" class="btn btn-outline-danger btn-sm">Eliminar</a>
                                        <a href="/update/<%= data[i].id_usuario %>" class="btn btn-outline-primary btn-sm">Modificar</a></td>
                                </tr>
                            <% } %>    
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
    
</div>

<%- include('partials/_footer') %>